* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Poppins", sans-serif;
}
nav {
  height: 80px;
  width: 100%;
  background-color: #eee;
}
label.logo {
  font-size: 35px;
  font-weight: bold;
  padding: 0 100px;
  line-height: 80px;
  cursor: pointer;
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav a {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
}
a.active,
a:hover {
  border: 3px solid white;
  transition: 0.5s;
}
.flexbox-container-1 {
  display: flex;
  margin-top: 50px;
}
.flex-item-1 {
  flex-basis: 50%;
  padding-left: 10%;
}
.banner-text {
  padding-top: 80px;
}
.flex-item-1 p {
  font-size: 18px;
  line-height: 28px;
  margin-top: 30px;
}
.flex-item-1 img {
  width: 80%;
}
.flex-item-1 button {
  margin-top: 40px;
  border: transparent;
}
.flex-item-1 button a {
  padding: 10px;
  padding-inline: 15px;
  font-size: 20px;
  background-image: linear-gradient(#fc8f49, orangered);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.orange-color {
  color: orange;
}
.flex-item-1 > h1 {
  font-size: 35px;
  line-height: 65px;
  white-space: nowrap;
}
.aboutMe {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
}
.flexbox-container-2 {
  display: flex;
  margin-top: 120px;
  margin-bottom: 95px;
  padding-block: 100px;
}
.flex-item-2 {
  flex-basis: 50%;
}
.flex-item-2 img {
  width: 60%;
  padding-left: 70px;
}
.down {
  margin-top: 65px;
}
.flex-item-2 button {
  margin-top: 40px;
  border: transparent;
}
.flex-item-2 button a {
  padding: 10px;
  padding-inline: 15px;
  font-size: 20px;
  background-image: linear-gradient(#fc8f49, orangered);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.flex-item-2 p {
  font-size: 18px;
  line-height: 28px;
  margin-top: 30px;
  padding-right: 70px;
}
.flex-item-2 h2 {
  font-size: 30px;
  color: grey;
}
.recipies {
  margin-top: 150px;
}
.recipies > * {
  text-align: center;
}
.recipies h1 {
  font-size: 32px;
  color: #2a1c22;
  font-weight: 10;
}
.recipies > p {
  margin-block: 30px;
}
.flexbox-container-3 {
  display: flex;
}
.flex-item-3 {
  width: 28%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 1px 8px #ccc;
  margin: 20px;
  border-radius: 30px;
}
.flex-item-3 img {
  width: 360px;
  height: 55%;
  padding-top: 10px;
}

.flex-item-3 p {
  text-align: left;
  padding-inline: 10px;
  padding-bottom: 7px;
}
.flex-item-3:nth-child(3) img {
  border-radius: 20px;
}

.reviews {
  max-width: 1335px;
  margin-bottom: 40px;
}
.flexbox-container-4 {
  display: flex;
}
.flex-item-4 {
  width: 28%;
  padding: 7px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.flex-item-4 p {
  font-size: 18px;
}
.flex-item-4 img {
  width: 200px;
  height: 200px;
  margin-left: 25%;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.name {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
}
.reviews {
  padding-top: 100px;
  padding-bottom: 120px;
}
.reviews h1 {
  text-align: center;
  font-size: 32px;
  padding: 1em;
  color: grey;
  font-weight: 400;
}
footer {
  background-color: black;
  text-align: center;
  min-height: 40vh;
}
footer h1 {
  color: grey;
  padding-block: 30px;
}
footer > p {
  color: white;
  line-height: 40px;
}
